# Northern Ireland Tabulated Weekly Deaths

This workbook is used to prepare a simple dataset that tabulates all of the weekly deaths in a single table using the convention of 'YYYY-MM-DD' for the unique date representing the end of the registration week.

## Setup

In [1]:
!pip install plotly
!pip install ipywidgets>=7.6
!pip install openpyxl
!pip install xlrd
!pip install pandas

Requirement already satisfied: plotly in /opt/conda/lib/python3.10/site-packages (5.18.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from plotly) (23.1)
Requirement already satisfied: openpyxl in /opt/conda/lib/python3.10/site-packages (3.1.1)
Requirement already satisfied: et_xmlfile in /opt/conda/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: xlrd in /opt/conda/lib/python3.10/site-packages (2.0.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd

import plotly.graph_objects as go
import plotly.offline as pyo
import plotly.io as pio

from plotly.subplots import make_subplots
from plotly.offline import init_notebook_mode

from lib.utility_functions import local_ca_certificate_file_path, \
mutate_safely, debug_this, Month, download_file, \
remove_timestamp, rename_columns, convert_dtypes_obj_to_strings, \
inner_join_with, add_week_ending_date, convert_column_to_string, \
extract_only_this_year, extract_and_cast_as_int

In [2]:
init_notebook_mode(connected = True)
pio.renderers.default = 'iframe'

In [3]:
debug_enabled = True
preview_only_enabled = False

In [4]:
def debug(item):
    debug_this(debug_enabled, item, preview_only_enabled)

In [16]:
@mutate_safely
def add_year_as_variable(df, year):
    df['Year']=year
    return

In [27]:
def get_columns(df, columns):
    return df[columns]

In [28]:
core_columns = ["Week Ending Date", "Deaths", "Year", "Registration_Week"]

## 2023 Deaths

In [18]:
analysis_end_week = 48

In [19]:
nisra_weekly_deaths_2023_source_url="https://www.nisra.gov.uk/system/files/statistics/Weekly_Deaths%20-%20w%20e%201%20December%202023.xlsx"
raw_nisra_weekly_deaths_2023_dest_filepath=f"data/inbound/raw/nisra/deaths/weekly/weekly_deaths_upto_including_{analysis_end_week}_2023.xlsx"
rows_to_read = analysis_end_week # Two rows fewer than the row number of the last data point.

In [7]:
download_file(nisra_weekly_deaths_2023_source_url, raw_nisra_weekly_deaths_2023_dest_filepath)

downloaded from: https://www.nisra.gov.uk/system/files/statistics/Weekly_Deaths%20-%20w%20e%201%20December%202023.xlsx

In [20]:
df_2023 = pd.read_excel(raw_nisra_weekly_deaths_2023_dest_filepath,  
                                  sheet_name='Table 3', 
                                  skiprows=3, 
                                  nrows=rows_to_read,
                                  usecols='A:N')
debug(df_2023)

,Registration Week,Week Ending (Friday),Antrim & Newtownabbey,Ards & North Down,"Armagh City, Banbridge & Craigavon",Belfast,Causeway Coast & Glens,Derry City & Strabane,Fermanagh & Omagh,Lisburn & Castlereagh,Mid & East Antrim,Mid Ulster,"Newry, Mourne & Down",Total
0,1,2023-01-06,31,43,43,89,39,38,48,31,31,34,47,474
1,2,2023-01-13,41,46,47,97,42,37,37,32,39,45,52,515
2,3,2023-01-20,38,43,36,83,35,32,24,31,29,17,41,409
3,4,2023-01-27,30,36,41,72,39,35,16,28,35,26,35,393
4,5,2023-02-03,24,37,31,77,29,35,20,31,28,17,39,368
5,6,2023-02-10,28,24,30,71,31,21,19,30,26,22,35,337
6,7,2023-02-17,30,36,47,77,30,40,28,22,24,24,44,402
7,8,2023-02-24,26,33,26,52,31,34,25,22,33,29,31,342
8,9,2023-03-03,23,41,35,53,29,16,22,29,21,25,25,319
9,10,2023-03-10,27,34,26,68,35,18,21,17,36,24,28,334
10,11,2023-03-17,25,21,29,47,18,16,14,12,17,16,24,239
11,12,2023-03-24,24,44,45,67,26,24,22,33,38,24,21,368
12,13,2023-03-31,19,25,30,57,29,22,19,22,21,32,30,306
13,14,2023-04-07,17,38,44,68,28,12,19,25,27,26,36,340
14,15,2023-04-14,18,28,26,55,19,18,8,15,14,18,26,245
15,16,2023-04-21,28,25,37,62,29,19,22,31,32,22,38,345
16,17,2023-04-28,23,30,36,67,35,30,11,21,39,23,24,339
17,18,2023-05-05,26,39,23,58,31,29,13,21,20,20,18,298
18,19,2023-05-12,29,39,40,67,26,38,24,16,31,18,28,356
19,20,2023-05-19,13,25,28,64,32,32,20,18,32,22,22,308
20,21,2023-05-26,22,33,48,65,18,24,31,21,27,25,21,335
21,22,2023-06-02,21,35,12,52,20,7,10,20,21,14,23,235
22,23,2023-06-09,21,35,28,50,31,30,17,23,18,20,26,299
23,24,2023-06-16,28,34,31,63,30,22,16,30,34,18,36,342
24,25,2023-06-23,29,40,44,74,27,23,24,21,30,22,38,372
25,26,2023-06-30,25,20,26,50,23,22,18,17,17,14,32,264
26,27,2023-07-07,28,43,26,59,28,30,28,19,30,23,29,343
27,28,2023-07-14,23,20,21,46,13,19,11,16,20,10,19,218
28,29,2023-07-21,27,37,29,58,20,23,27,32,33,12,34,332
29,30,2023-07-28,30,26,31,68,29,36,13,15,25,27,29,329
30,31,2023-08-04,18,30,30,57,26,27,21,29,19,20,18,295
31,32,2023-08-11,22,28,28,48,21,20,16,17,27,18,38,283
32,33,2023-08-18,25,22,35,56,25,26,18,13,30,15,37,302
33,34,2023-08-25,30,48,41,50,25,29,11,29,25,17,20,325
34,35,2023-09-01,13,27,29,42,19,21,13,12,17,13,22,228
35,36,2023-09-08,22,35,33,62,30,28,17,26,22,20,37,332
36,37,2023-09-15,34,40,48,61,22,20,10,25,27,17,25,329
37,38,2023-09-22,23,37,36,63,22,27,13,33,30,20,34,338
38,39,2023-09-29,37,29,29,60,21,29,17,21,27,18,29,317
39,40,2023-10-06,17,35,36,56,18,21,22,26,31,15,20,297
40,41,2023-10-13,19,26,40,46,23,17,18,25,8,30,17,269
41,42,2023-10-20,30,34,31,45,16,35,21,22,37,12,27,310
42,43,2023-10-27,24,32,40,61,30,25,14,23,27,22,37,335
43,44,2023-11-03,28,36,25,62,30,33,17,27,25,24,34,341
44,45,2023-11-10,29,47,32,77,30,26,22,24,33,18,48,386
45,46,2023-11-17,22,40,33,77,38,35,25,20,26,18,30,364
46,47,2023-11-24,39,30,45,79,30,37,30,30,31,21,32,404
47,48,2023-12-01,34,46,33,76,20,28,23,35,38,25,29,387

In [30]:
year="2023"

df_2023_refined = df_2023\
.pipe(rename_columns, {"Registration Week":"Registration_Week", "Week Ending (Friday)":"Week_end_Date","Total":f"Deaths"})\
.pipe(convert_dtypes_obj_to_strings)\
.pipe(add_year_as_variable, year=year)\
.pipe(convert_column_to_string, colname="Week_end_Date")\
.pipe(add_week_ending_date, default_date="2020-19-03", existing_week_end_date_col_name='Week_end_Date')\
.pipe(get_columns, columns=core_columns)

df_2023_refined

   Week Ending Date  Deaths  Year  Registration_Week
0        2023-01-06     474  2023                  1
1        2023-01-13     515  2023                  2
2        2023-01-20     409  2023                  3
3        2023-01-27     393  2023                  4
4        2023-02-03     368  2023                  5
5        2023-02-10     337  2023                  6
6        2023-02-17     402  2023                  7
7        2023-02-24     342  2023                  8
8        2023-03-03     319  2023                  9
9        2023-03-10     334  2023                 10
10       2023-03-17     239  2023                 11
11       2023-03-24     368  2023                 12
12       2023-03-31     306  2023                 13
13       2023-04-07     340  2023                 14
14       2023-04-14     245  2023                 15
15       2023-04-21     345  2023                 16
16       2023-04-28     339  2023                 17
17       2023-05-05     298  2023                 18
18       2023-05-12     356  2023                 19
19       2023-05-19     308  2023                 20
20       2023-05-26     335  2023                 21
21       2023-06-02     235  2023                 22
22       2023-06-09     299  2023                 23
23       2023-06-16     342  2023                 24
24       2023-06-23     372  2023                 25
25       2023-06-30     264  2023                 26
26       2023-07-07     343  2023                 27
27       2023-07-14     218  2023                 28
28       2023-07-21     332  2023                 29
29       2023-07-28     329  2023                 30
30       2023-08-04     295  2023                 31
31       2023-08-11     283  2023                 32
32       2023-08-18     302  2023                 33
33       2023-08-25     325  2023                 34
34       2023-09-01     228  2023                 35
35       2023-09-08     332  2023                 36
36       2023-09-15     329  2023                 37
37       2023-09-22     338  2023                 38
38       2023-09-29     317  2023                 39
39       2023-10-06     297  2023                 40
40       2023-10-13     269  2023                 41
41       2023-10-20     310  2023                 42
42       2023-10-27     335  2023                 43
43       2023-11-03     341  2023                 44
44       2023-11-10     386  2023                 45
45       2023-11-17     364  2023                 46
46       2023-11-24     404  2023                 47
47       2023-12-01     387  2023                 48

## 2022 Deaths

In [23]:
nisra_weekly_deaths_2020_2022_source_url='https://www.nisra.gov.uk/system/files/statistics/Weekly_Deaths%20-%20w%20e%2030%20December%202022_0.xlsx'
raw_nisra_weekly_deaths_2022_dest_filepath='data/inbound/raw/nisra/deaths/weekly/weekly_deaths_december_2022.xlsx'
rows_to_read = 146 # Four rows fewer than the row number of the last data point.

In [11]:
download_file(nisra_weekly_deaths_2020_2022_source_url, raw_nisra_weekly_deaths_2022_dest_filepath)

downloaded from: https://www.nisra.gov.uk/system/files/statistics/Weekly_Deaths%20-%20w%20e%2030%20December%202022_0.xlsx

In [24]:
df_2020_2022 = pd.read_excel(raw_nisra_weekly_deaths_2022_dest_filepath,  
                                  sheet_name='Table 3', 
                                  skiprows=3, 
                                  nrows=rows_to_read,
                                  usecols='A:N')

In [31]:
year="2022"

df_2022_refined = df_2020_2022\
.pipe(extract_only_this_year, year=year, rows_to_read=rows_to_read)\
.pipe(rename_columns, {"Registration Week":"Registration_Week", "Week Ending (Friday)":"Week_end_Date","Total":f"Deaths"})\
.pipe(convert_dtypes_obj_to_strings)\
.pipe(add_year_as_variable, year=year)\
.pipe(convert_column_to_string, colname="Week_end_Date")\
.pipe(add_week_ending_date, default_date="2020-19-03", existing_week_end_date_col_name='Week_end_Date')\
.pipe(get_columns, columns=core_columns)

debug(df_2022_refined)

   Week Ending Date  Deaths  Year  Registration_Week
0        2022-01-07     416  2022                  1
1        2022-01-14     445  2022                  2
2        2022-01-21     317  2022                  3
3        2022-01-28     336  2022                  4
4        2022-02-04     363  2022                  5
5        2022-02-11     375  2022                  6
6        2022-02-18     319  2022                  7
7        2022-02-25     327  2022                  8
8        2022-03-04     338  2022                  9
9        2022-03-11     338  2022                 10
10       2022-03-18     301  2022                 11
11       2022-03-25     365  2022                 12
12       2022-04-01     339  2022                 13
13       2022-04-08     355  2022                 14
14       2022-04-15     335  2022                 15
15       2022-04-22     260  2022                 16
16       2022-04-29     365  2022                 17
17       2022-05-06     281  2022                 18
18       2022-05-13     322  2022                 19
19       2022-05-20     312  2022                 20
20       2022-05-27     329  2022                 21
21       2022-06-03     220  2022                 22
22       2022-06-10     342  2022                 23
23       2022-06-17     298  2022                 24
24       2022-06-24     322  2022                 25
25       2022-07-01     347  2022                 26
26       2022-07-08     315  2022                 27
27       2022-07-15     249  2022                 28
28       2022-07-22     340  2022                 29
29       2022-07-29     351  2022                 30
30       2022-08-05     336  2022                 31
31       2022-08-12     301  2022                 32
32       2022-08-19     320  2022                 33
33       2022-08-26     315  2022                 34
34       2022-09-02     263  2022                 35
35       2022-09-09     314  2022                 36
36       2022-09-16     333  2022                 37
37       2022-09-23     276  2022                 38
38       2022-09-30     299  2022                 39
39       2022-10-07     311  2022                 40
40       2022-10-14     308  2022                 41
41       2022-10-21     331  2022                 42
42       2022-10-28     339  2022                 43
43       2022-11-04     373  2022                 44
44       2022-11-11     368  2022                 45
45       2022-11-18     386  2022                 46
46       2022-11-25     360  2022                 47
47       2022-12-02     338  2022                 48
48       2022-12-09     360  2022                 49
49       2022-12-16     360  2022                 50
50       2022-12-23     411  2022                 51
51       2022-12-30     238  2022                 52

## 2015-2021

In [6]:
#https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/Final%20Historical%20Weekly%20Deaths%20by%20Age%20and%20Respiratory%20Deaths%202011-2022.xlsx
#https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/Final%20Historical%20Weekly%20Deaths%20by%20Age%20and%20Respiratory%20Deaths%202011-2021.xlsx
raw_nisra_historical_weekly_deaths_source_url='https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/Final%20Historical%20Weekly%20Deaths%20by%20Age%20and%20Respiratory%20Deaths%202011-2022.xlsx'
raw_nisra_historical_weekly_deaths_dest_filepath='data/inbound/raw/nisra/deaths/weekly/historical_weekly_deaths.xlsx'

In [ ]:
download_file(raw_nisra_historical_weekly_deaths_source_url, raw_nisra_historical_weekly_deaths_dest_filepath)

In [7]:
year_registration_week_count = {
    2015: 53,
    2016: 52,
    2017: 53,
    2018: 52,
    2019: 52,
    2020: 52,
    2021: 52
}

In [46]:
dfs_2015_2021 = {}

for year, registration_weeks in year_registration_week_count.items():
    print(f'Processing {year} which has {registration_weeks} registration weeks...')
    
    df = pd.read_excel(raw_nisra_historical_weekly_deaths_dest_filepath,  
                                  sheet_name=f'Weekly Deaths_{year}', 
                                  skiprows=3, 
                                  nrows=registration_weeks,
                                  usecols='A:D')
    
    dfs_2015_2021[year] = df\
    .pipe(rename_columns, {"Registration Week":"Registration_Week", f"Total Number of Deaths Registered in Week ({year})":f"Deaths"})\
    .pipe(convert_dtypes_obj_to_strings)\
    .pipe(add_year_as_variable, year=year)\
    .pipe(convert_column_to_string, colname="Week Ends (Friday)")\
    .pipe(add_week_ending_date, default_date="2020-19-03", existing_week_end_date_col_name="Week Ends (Friday)")\
    .pipe(extract_and_cast_as_int, column="Registration_Week")\
    .pipe(get_columns, columns=core_columns)

Processing 2015 which has 53 registration weeks...
Processing 2016 which has 52 registration weeks...
Processing 2017 which has 53 registration weeks...
Processing 2018 which has 52 registration weeks...
Processing 2019 which has 52 registration weeks...
Processing 2020 which has 52 registration weeks...
Processing 2021 which has 52 registration weeks...

In [49]:
df_2015_2021 = pd.concat(dfs_2015_2021.values(), ignore_index=True)
df_2015_2022 = pd.concat([df_2015_2021, df_2022_refined], ignore_index=True)
df_2015_2023 = pd.concat([df_2015_2022,df_2023_refined], ignore_index=True)

debug(df_2015_2023)

    Week Ending Date  Deaths  Year  Registration_Week
0         2015-01-02     319  2015                  1
1         2015-01-09     374  2015                  2
2         2015-01-16     383  2015                  3
3         2015-01-23     397  2015                  4
4         2015-01-30     374  2015                  5
..               ...     ...   ...                ...
461       2023-11-03     341  2023                 44
462       2023-11-10     386  2023                 45
463       2023-11-17     364  2023                 46
464       2023-11-24     404  2023                 47
465       2023-12-01     387  2023                 48

[466 rows x 4 columns]

In [50]:
df_2015_2023.to_pickle(f'data/outbound/deaths/weekly/AllWeeklyDeaths2015Week1To2023Week{analysis_end_week}.pkl')

In [ ]:
#TODO - Let's add in a dataset for the Year MYE for population.
# Let's join that dataset to the one above, joining on the Year column and then we can calculate the number of weekly deaths per 100k of the population?